<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>selenium.Homework11</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>discover</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>completeReview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>submitJsAlert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>review</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>awaiting</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addbook</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
