<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.addbook()[pri:3, instance:selenium.Homework11@a2431d0]">addbook</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:49</td>   <td>1999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.awaiting()[pri:7, instance:selenium.Homework11@a2431d0]">awaiting</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:48</td>   <td>1853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.review()[pri:4, instance:selenium.Homework11@a2431d0]">review</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="8b6791">  <td>21/10/25 19:21:49</td>   <td>2026</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:selenium.Homework11@a2431d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:45</td>   <td>-1237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.discover()[pri:1, instance:selenium.Homework11@a2431d0]">discover</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:49</td>   <td>1906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.submitJsAlert()[pri:5, instance:selenium.Homework11@a2431d0]">submitJsAlert</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:49</td>   <td>1959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.completeReview()[pri:6, instance:selenium.Homework11@a2431d0]">completeReview</td> 
  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="8b6791">  <td>21/10/25 19:21:42</td>   <td>-4140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:selenium.Homework11@a2431d0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1374066265</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>21/10/25 19:21:45</td>   <td>-1185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Homework11.shop()[pri:2, instance:selenium.Homework11@a2431d0]">shop</td> 
  <td>main@1374066265</td>   <td></td> </tr>
</table>
